<!DOCTYPE html>
<html>
<head>
    <title>K-Means App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body class="via-app-html">
    {% if table %}
        <h1>Hasil Clustering Berdasarkan App</h1>
        <a href="{{ url_for('dashboard') }}">Kembali</a>
        <br>
        {{ table | safe }}
        <H2>Visualisasi</H2>
        <img src="{{ url_for('static', filename='cluster_plot.png') }}">
        <img src="{{ url_for('static', filename='elbow.png') }}">
        <img src="{{ url_for('static', filename='silhouette.png') }}">
    {% endif %}
</body>
</html>